.question-container{id: "question_#{@question.id}"}
  = render @question

%hr
%ul.answers= render @question.answers.reject(&:new_record?).sort_by { |a| a.best ? -1: 0 }

- if user_signed_in?
  %p Create your answer here:

  = form_for [@question, @answer], remote: true do |f|
    .field
      = f.label :body
      .answer-errors
      = f.text_area :body
    .field
      = f.fields_for :attachments do |attachment|
        = render 'common/attachment_fields', f: attachment
      .links
        = link_to_add_association 'add attachment', f, :attachments, partial: 'common/attachment_fields'
    .actions
      = f.submit 'Create answer'
- else
  %p For create answers you need to sign in or sign up before continuing.