%h1
  = @question.title
= @question.body

- if user_signed_in?
  = link_to 'Destroy', question_path(@question),
              method: :delete,
              data: { confirm: 'Are you sure?' }

%hr
%ul.answers
  - @question.answers.each do |answer|
    %li
      = render 'answers/answer', answer: answer

- if user_signed_in?
  %p Create your answer here:
  .errors
    
  = form_for [@question, @question.answers.build], remote: true do |f|
    .field
      = f.label :body
      = f.text_area :body
    .actions
      = f.submit 'Create answer'
- else
  %p For create answers you need to sign in or sign up before continuing.