.container-answer{id: "container-answer-#{answer.id}"}
  - if answer.persisted?
    - if answer.best
      .best-answer= '=== Best answer ==='
    %li.answer-body{id: "answer_#{answer.id}"}
      = answer.body
      = render 'common/attachments', resource: answer

      = render 'common/rating', resource: answer

    - if user_signed_in? && !answer.new_record?
      .action-links{id: "links_#{answer.id}"}
        - if current_user.author?(answer.question)
          = button_to 'Mark as best', { controller: :questions, action: :mark_best_answer, id: answer.question.id, answer_id: answer.id }, method: :put, remote: true, class: 'best-answer-button'
        - if current_user.author?(answer)
          = link_to 'Edit answer', '', class: 'edit-answer-link', data: { answer_id: answer.id }
          = link_to 'Destroy answer', answer, method: :delete, remote: true, data: { confirm: "Delete your answer?" }
      %br
        = form_for answer, remote: true, html: { id: "edit-answer-#{answer.id}"} do |f|
          .answer-errors-edit
          = f.label :body, 'Answer'
          = f.text_area :body

          .field
            = f.fields_for :attachments do |attachment|
              = render 'common/attachment_fields', f: attachment
            .links
              = link_to_add_association 'add attachment', f, :attachments, partial: 'common/attachment_fields'
          .actions
            = f.submit 'Save answer'